# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output
*.jpg
*.png
*.tga
.DS_Store

# IDE
obj/
cmake-build-debug/
CMakeLists.txt
.idea
.vscode

# lib
test/catch.hpp

